// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

.navbar-toggler:hover{
 background-color: red;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.img-thumbnail{
		max-width: 25% !important;
		max-height: 25% !important;
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.img-thumbnail{
		max-width: 25% !important;
		max-height: 25% !important;
	}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.img-thumbnail{
		max-width: 25% !important;
		max-height: 25% !important;
	}
}

